body {
  font-family: "Montserrat";
}

/* Top section */
#top-section {
  background-color: #0f4c75;
  color: white;
}



/* Navigation bar */
.navbar {
  padding: 0.25rem 0 0.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

.title-icon {
  padding: 20px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.blue-white-section{
  padding: 3%;
  background-color: #3282b8;
  color: white;
  font-family: "Montserrat";
}

.white-blue-section{
  padding: 3%;
  background-color: white;
  color: #3282b8;
  font-family: "Montserrat";
}

/* Carousel */
#title-carousel {
  text-align: center;
  background-color: #3282b8;
  padding: 3%;
  margin: auto;
}

.carousel-column {
  margin: 3%;
  text-align: center;
  vertical-align: middle;
}

.carousel-image {
  width: 35.5rem;
  /*object-fit: cover;*/
  border-radius: 5%;
}

#service-authorises {
  background-color: white;

  text-align: center;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  position: relative;
  margin-bottom: 2%;
}


.logo-col {
padding: 3%;
}

.service-logo {
  width: 70%;
  vertical-align: middle;
  text-align: center;
}

#appareils-marques {
  background-color: #3282b8;
  color: white;
}

.apps-marques-header{
  color: white;
}


#territoire {}

.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#contact {
  background-color: #3282b8;
  color: white;
}

#footer {
  text-align: center;
  font-family: "Montserrat";
  padding: 1%;
  background-color: #0f4c75;
  color: white;
}
